VITE_API_BASE_URL=/api
VITE_OIDC_AUTHORITY=http://localhost:9000/realms/guppy
VITE_OIDC_CLIENT_ID=guppy-web-dev
VITE_OIDC_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/auth/logout/callback
VITE_OIDC_SCOPE=openid profile email
VITE_ENABLE_DEV_AUTH_BYPASS=true
FRONTEND_API_PROXY_TARGET=http://localhost:8080
