VITE_API_BASE_URL=/api
VITE_AUTH_MODE=dev-bypass
VITE_OIDC_AUTHORITY=http://localhost:9000/realms/guppy
VITE_OIDC_CLIENT_ID=guppy-web-dev
VITE_OIDC_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/auth/logout/callback
VITE_OIDC_LOGOUT_ENDPOINT=http://localhost:9000/realms/guppy/protocol/openid-connect/logout
VITE_OIDC_SCOPE=openid profile email
FRONTEND_API_PROXY_TARGET=http://localhost:8080
