# Runtime
boto3==1.42.81
aws-lambda-powertools==3.26.0
pydantic==2.12.5
aws-lambda-typing==2.20.0

# Test
pytest==9.0.2
pytest-cov==7.1.0
pytest-mock==3.15.1
moto[dynamodb]==5.1.22

# Lint / Type Check
ruff==0.15.8
mypy==1.20.0
